@page "/"

<h1>Welcome to Money Keeper</h1>

<p>This is your ultimate app to manage and track your finances.</p>

<div>
    <h2>Features:</h2>
    <ul>
        <li>Track your expenses and income</li>
        <li>Create and manage budgets</li>
        <li>Generate financial reports</li>
        <li>Set financial goals</li>
    </ul>
</div>
